<%- layout('./templates/boilerplate') %>
    <div class="row">
        <div class="col-6 offset-3">
            <h1 class="text-info">Thing you have to do from your end</h1>
            <p>Download ZeroTier Client from <a href="https://www.zerotier.com/download/">here</a></p>
            <p>After you have downloaded run the zerotier client</p>
            <figure class="figure">
                <img src="img/mac.png" class="figure-img img-fluid rounded" alt="...">
                <figcaption class="figure-caption">MAC: Copy the netID</figcaption>
            </figure>

            <figure class="figure">
                <img src="img/mac.png" class="figure-img img-fluid rounded" alt="...">
                <figcaption class="figure-caption">Windows: Copy the netID</figcaption>
            </figure>
            <div class="text-danger">
                <p>After copying the netID you can request for access</p>
            </div>
            <div class="mb-2">
                <a href="/connect" class="btn btn-success">Request Access</a>
            </div>
        </div>
    </div>